{% extends "shop/layout.html" %}


{% block content %}
    <h2>ShopList</h2>

    <div class="row">
        <div class="col-sm-8">컨텐츠</div>
        <div class="col-sm-4">사이드바</div>

        <form action="" method="get">
            <input type="text" name="query" value="{{ request.GET.query }}">
            <input type="submit" value="검색"/>
        </form>

        <ul>
            {% for shop in shop_list %}
                <li>
                    <a href="{% url "shop:shop_detail" shop.pk %}">
                        {{ shop.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url "shop:shop_new" %}">새글등록</a>

    </div>
{% endblock %}