{% load bootstrap5 %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}남문수의 블로그{% endblock %}</title>


        {% block extra_head %}
        {% endblock %}

</head>
<body>
<div class="container">
    <h2>남문수의 블로그</h2>
    {% bootstrap_messages %}


    <ul>
        {% if not user.is_authenticated %}
            <li><a href="{% url "accounts:login" %}">Login</a></li>
            <li><a href="{% url "accounts:signup" %}">Sign Up</a></li>
        {% else %}
            <li><a href="{% url "accounts:profile" %}">
                {{ user.username|upper }}'s Profile
            </a></li>
            <li><a href="{% url "accounts:logout" %}">Logout</a></li>
        {% endif %}
    </ul>

    {% block content %}{% endblock %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <hr/>
    &copy; 2021.12.15. 남문수 컴퍼니.
</div>
</body>
</html>