_pycache_
.vscode
.ipynb*

mydjango11/.idea/inspectionProfiles/
mydjango13/Untitled.ipynb
mydjango13/Untitled1.ipynb
mydjango13/mall/templates/
myhomework15/myhomework15
/myproj16/
/mydjango15/Untitled.ipynb
.idea
db.sqlite3
manage.py
Dev/mydjango15/mydjango15
Dev/myhomework15
Dev/myhomework15/myhomework15
Dev/myhomework14
Dev/mydjango16

.gitignore
mydjango14/catube/templates/catube/video_detail.html
mydjango15/delicious/templates/delicious/shop_detail.html
mydjango15/delicious/templates/delicious/shop_list.html
mydjango15/mydjango15/settings.py
mydjango15/mydjango15/urls.py
mydjango16/.gitigrone
mydjango16/blog/__pycache__/admin.cpython-310.pyc
mydjango16/blog/__pycache__/models.cpython-310.pyc
mydjango16/blog/__pycache__/urls.cpython-310.pyc
mydjango16/blog/urls.py
mydjango16/mydjango16/urls.py
myhomework14/dogtube/models.py
myhomework14/dogtube/templates/dogtube/layout.html
myhomework15/covidclinic.xlsx
myhomework15/covidclinic/templates/covidclinic/clinic_list.html
myhomework15/db.sqlite3
myhomework15/myhomework15/__pycache__/settings.cpython-310.pyc
myhomework15/myhomework15/__pycache__/urls.cpython-310.pyc
myhomework15/myhomework15/urls.py