{% extends "covidclinic/layout.html" %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>name</th>
            <th>address</th>
            <th>weekdaytime</th>
            <th>telephone</th>
        </tr>
        </thead>
        <tbody>
        {% for clinic in clinic_list %}
            <tr>
            <td><a href="/covidclinic/{{ clinic.pk }}/">
                {{ clinic.name }}
            </a>
                </td>
            <td>{{ clinic.address }}</td>
            <td>{{ clinic.weekdaytime }}</td>
            <td><a href="tel:{{ clinic.telephone }}">
                {{ clinic.telephone }}
            </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}