{% extends "shop/layout.html" %}

{% block content %}


    <div class="row">
        <div class="col-sm-8">
            <ul>
                {% for shop in shop_list %}
                    <li>
                        <a href="{% url "shop:shop_detail" shop.pk %}">
                            {{ shop.name }}
                        </a>

                    </li>
                {% endfor %}
                <div class="col-sm-4">


                </div>

            </ul>
        </div>
    </div>
{% endblock %}