{% load bootstrap5 %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>배달의 기술</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>
        body {
            padding-bottom: 1em;
        }

    </style>

</head>
<body>
<div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
        <li class="nav-item"><a href="{% url "shop:shop_list" %}" class="btn btn-danger btn-lg round" aria-current="page">배달의 기술</a></li>
        <li class="nav-item"><a href="#" class="btn btn-warning btn-md round">Features</a></li>
        <li class="nav-item"><a href="#" class="btn btn-success btn-md round">Pricing</a></li>
        <li class="nav-item"><a href="#" class="btn btn-primary btn-md round">FAQs</a></li>
        <li class="nav-item"><a href="#" class="btn btn-secondary btn-md round">About</a></li>
    </ul>
    <ul class="nav">
        <li class="nav-item"><a href="#" class="btn btn-secondary btn-md round">Login</a></li>
        <li class="nav-item"><a href="#" class="btn btn-secondary btn-md round">Sign up</a></li>
    </ul>
</div>
<div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>

    </a>
    <form class="col-12 col-md-auto mb-2 mb-lg-0">
        <input type="text" class="form-control" name="query" value="{{ request.GET.query }}" placeholder="검색어를 입력해주세요" aria-label="검색">
        <input type="submit" value="검색" style="position:relative; top:7px; left: 77%;"/>
    </form>
</div>

<div>


</div>


{% block content %}
{% endblock %}

<div class="container">
<hr/>
&copy; 2021. 남문수 컴퍼니.
</div>
</body>
</html>