{% extends "shop/layout.html" %}

{% block content %}

    <div class="row">
        <div class="col-sm-8">



        </div>
        <div class="col-sm-4">
            <div class="">
                <a href="{% url "shop:shop_new" %}" class="btn btn-primary">새 포스팅 쓰기</a>

            </div>
            <ul>
                <li>
                    <a href="?category_id=">
                        전체
                    </a>
                </li>
                {% for category in category_list %}
                    <li>
                        <a href="?category_id={{ category.pk }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>


    <div class="row" style="margin-top: 2em;">
        {% for shop in shop_list %}
            <div class="col-sm-6 offset-sm-3" style="margin-bottom: 2em;">
                <div class="card">
                    <img src="{{ post.photo.url }}"
                         alt="{{ post.title }}"
                         class="card-ing-top"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        {{ post.content|truncatewords:23 }}

                        <a href="{% url "shop:shop_detail" shop.pk %}">
                            {{ shop.name }}
                        </a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr/>

{% endblock %}